<!-- config.php -->
<!-- Fichier contenant les identifiants de connexion à la base de données -->
<!-- A modifier pour changer les identifiants de connexion à la base de données -->


<?php
return array(
    'host' => 'localhost',
    'username' => 'root',
    'password' => "root",
    'dbname' => 'MyDB',
);
?>