/* Conteneur principal abritant le contenu de la page */
.main_container {
    margin: 10px auto;
    padding: 5px 0;
    display: flex;
    text-align: center;
    position:relative;
    max-width:78%;
}

/* Sous-partie d'un main_container */
.container{
    min-height:600px;
    max-height: 100%;
    position:relative;
    padding: 15px 0 0 10px;
    text-align: center;
    margin: 5px;
    background-color:white;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
}
.container ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.container li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Formulaires des fenêtres d'interaction */
.container_list {
    padding: 30px 50px;
    display: inline-block;
    text-align: center;
    margin: 100px 10px 0 10px;
    background-image:url(../images/fond_quadri.png);
    border-radius: 30px;
}

.interaction_container{
    position:relative;
    margin: 0 20px 0 20px;
    max-width: 1000px;
    min-width: 770px;
}

.central {
    text-align: center;
    position:relative;
    min-width: 500px;
    width: 100%;
    margin: 6px 10px;
    padding: 20px 10px;
}

.central h1{
    display: inline-block;
    width: auto;
    font-size: 30px;
    text-align: center;
    margin: auto;
    position:absolute;
    left:10%;
    right:10%;
}

.central h2 a{
    margin: 0 auto;
}

.central h3 {
    display:inline-block;
    padding: 10px 0 0 10px;
}

.central h4 {
    margin-bottom: 0;
}
#utilisateurs {
    position:relative;
    min-width: 250px;
    width: 300px;
}

.deroulant {
    overflow: hidden;
}

.deroulant:hover {
    overflow: auto;
}

#liste_users{
    max-height:320px;
}

#default_div{
    max-height: 700px;
}