/* Fichier intercation.css contenant le style des fenêtres d'interaction avec l'utilisateur */

#signin{
    display:none;
}

/* Images située dans le coin supérieur gauche des divs de classe fenetre_interaction */
.image_commentaire {
    position: absolute;
    left:20px;
    top:20px
}

/* Titre du type d'interaction */
.titre_interaction {
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    font-family: 'Times New Roman', cursive;
    border-bottom: black solid 2px;
}

/* Div contenant les éléments permettant à l'utilisateur de saisir le titre d'un topic */
#entrer_titre {
    max-width:600px;
}

/* Div contenant les éléments permettant à l'utilisateur de saisir des données */
.entrees {

    width:450px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    position: relative;
    display:inline-block;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 5px 5px #E1D9F4;
    text-align: right;
}
.saisie {
    float:right;
}

input[type="checkbox"]{
    margin-top:5px;
}

.entrees input{
    margin-left:15px;
}

.input_center{
    color:transparent;
    width:125px;
    margin:0 60px 0 15px;
}

#div_affiche_nom{
    text-align:center;
}

/* Style des boutons */
.Boutons {
    cursor: pointer;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    margin: 28px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #F7F7F7;
    border-radius: 5px;
    border: #756099 solid 2px;
    font-family: 'Times New Roman', cursive;
}

/* Style des boutons quand l'utilisateur passe la souris dessus */
.Boutons:hover {
    background-color: #B5A4CD;
    border: #494254 solid 3px;
    margin-top:27px;
}

#Revenir_accueil {
    display:inline-block;
    width:250px;
    margin:20px auto;

}

#Revenir_accueil a {
    color: black;
    text-shadow: none;
    margin-left: 7px;
}

.zone_texte{
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    width:340px;
    min-width: 340px;
    max-width: 340px;
}

#saisie_topic {
    display: inline-block;
    margin-right:40px;
    width:250px;
}

label[for="presentation"]{
    float:right;
    text-align:center;
}

#mini_avatar {
    position:absolute;
    left:50px;
    bottom: 0;
    width:50px;
    height:50px;
}