/* Fichier style.css contenant les éléments généraux utilisés dans toutes les pages */

/* Liens */
.police {
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 2px 2px #B1B1B1;
}

a {
	text-decoration:none;
}

/* Listes */
ul {
	list-style: none;
}

/* Corps de toutes les pages */
body {
	margin-top: 0;
	margin-bottom:0;
	background-color: #F3EEDF;
}

/* Titres de la page */
h1 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	color: #221146;
	text-shadow: 1px 1px #B1B1B1;
}

/* Boîtes de saisie de données*/
.saisie{
	margin-right: 10px;
	padding: 5px;
	border-radius: 3px;
	border: none;
	box-shadow: inset 0 0 2px #000000;
}

/* Style des checkboxes */
input[type="checkbox"]{
	width: 20px;
	height: 20px;
}

/* Div contenant un lien */
.linkBox {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px
}

/* Lien contenu dans une div de classe linkBox */
.linkBox a {
	white-space: nowrap;
	font-size: 17px;
	text-decoration:none;
}

/* Style des liens contenus dans une div de classe linkBox quand l'utilisateur passe sa souris dessus */
.linkBox:hover {
	background-color: #6C6477;
	border: #494254 solid 4px;
	margin-left: 12px;
	border-radius: 10px;
}

/* Conteneur principal abritant le contenu de la page */
.main_container {
	margin: 10px auto;
	padding: 5px 0;
	display: flex;
	text-align: center;
	border: none;
}

/* Sous-partie d'un main_container */
.container{
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border: 2px solid black;
	padding: 0px 10px;
	background-color:white;
	font-family: 'Press Start 2P', cursive;
}

#utilisateurs {
	padding: 20px;
	left: 0;
	min-width: 200px;
	width: 250px;
}

#messages {
	min-width: 500px;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

#jeux{
	right: 0;
	min-width: 200px;
	width: 320px;
}

#profil {
	display: flex;
	margin: auto;
	text-align: center;
}

.avatar {
	display: inline-block;
	height:85px;
	width: 85px;
	border-radius: 100px;
}

#profil h1 {
	margin: auto 20px;
	display: inline-block;
	max-width: 50px;
}

.container ul {
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

.container li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.container ul li img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.liste_jeux{
	width:94.5%;
	min-height: 100px;
}

#jeux_visites{
	border: 2px solid black;
	padding: 0px 10px;
	background-color:white;
	max-height: 300px;
	overflow: scroll;
}

#jeux_visites:hover{
	max-height: 600px;
}

#jeux_proposes{
	border: 2px solid black;
	padding: 0px 10px;
	background-color:white;
	max-height: 300px;
	overflow: scroll;
}

#jeux_proposes:hover{
	max-height: none;
	overflow: visible;
}
