/* Fichier style.css contenant les éléments généraux utilisés dans toutes les pages */

/* Liens */
.police {
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	text-shadow: 1px 1px #B2B2B2;
}

a {
	color:black;
	text-decoration:none;
}

/* Listes */
ul {
	list-style: none;
}

/* Corps de toutes les pages */
body {
	margin-top: 0;
	margin-bottom:0;
	background-color: #C5DDFF;
}

/* Titres de la page */
h1 {
	max-width: 400px;
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	color: #221146;
	text-shadow: 1px 1px #B2B2B2;
}

/* Boîtes de saisie de données*/
.saisie{
	margin-right: 10px;
	padding: 5px;
	border-radius: 3px;
	border: none;
	box-shadow: inset 0 0 2px #000000;
}

/* Style des checkboxes */
input[type="checkbox"]{
	width: 20px;
	height: 20px;
}

/* Div contenant un lien */
.linkBox {

	text-align: center;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px
}

/* Lien contenu dans une div de classe linkBox */
.linkBox a {
	white-space: nowrap;
	font-size: 17px;
	text-decoration:none;
}

/* Style des liens contenus dans une div de classe linkBox quand l'utilisateur passe sa souris dessus */
.linkBox:hover {

	text-align: center;
	background-color: #6C6477;
	border: #494254 solid 4px;
	margin-left: 12px;
	border-radius: 10px;
}

.linkBox:hover a{
	color:white;
}

#utilisateurs {
	position:relative;
	min-width: 250px;
	width: 300px;
}

#telecharger_regle:hover{
	margin-top: 5px;
	margin-bottom: 0;
}

.image_jeu {
	float:left;
	min-height: 50px;
	min-width: 50px;
	width: 20%;
	border-radius: 50px;
	margin: 0 20px 10px 0;
}


#BoutonModifierJeu {
	position:relative;
	display:inline-block;
}

.BoutonCreerTopicMessage{
	text-align: center;
	margin-right:100px;
	padding:10px;
}

.BoutonCreerTopicMessage a{
	color:#2A1660;
}

#BoutonModifierJeu a{
	color:black;
}
#BoutonModifierProfil a{
	color:black;
}

#description_jeu{
	border-top: black solid 2px;
	border-bottom: black solid 2px;
	margin: 60px 20px 20px 20px;
}

#description_jeu p {
	text-align: justify;
	margin: 0 20px 20px 20px;
	padding: 10px 0;
	display: none;
}

#description_jeu:hover p {
	display: block;
}

#jeux{
	margin-right: 0;
	min-width: 250px;
	width: 450px;
}

#profil {
	max-width: 250px;
	flex-direction: column;
	display: flex;
	margin: 0 auto;
}

.avatar {
	display: inline-block;
	height:85px;
	width: 85px;
	border-radius: 100px;
}

#profil h1 {
	font-size: 30px;
	text-align: center;
	margin: 0 20px;
}

#profil h1 a {
	text-decoration:none;
	color: black;
}

#profil div {
	max-width: 250px;
	padding-top: 10px;
	display: flex;
	margin: 10px auto 0 auto;
	text-align: center;
	border-top: black solid 2px;
}

#profil h2 {
	display: inline-block;
	text-align: center;
	width: 110px;
	max-width: 130px;
	max-height: 100px;
	font-size: 17px;
	margin: auto 20px auto 20px;
	overflow-wrap: break-word;
}

#image_titre {
	position:relative;
	max-width: 100%;
	min-height:200px;
	margin-top:-20px;
	margin-bottom: 10px;
}

.texte_accueil {
	text-align: justify;
	margin:0 15px;
	padding: 10px 0;
	border-top: solid #2C83FF 3px;
	border-bottom: solid #2C83FF 3px;
}

* {
	box-sizing: border-box;
}

.titre_topic {
	font-weight: bold;
}

#topics_list {
	width: 75%;
	margin-top: 20px;
}

#one_topic {
	position:relative;
	display: inline-block;
	text-align:center;
	width: 600px;
}

#message_topic{
	overflow: hidden;
}

.mini_image {
	min-height: 50px;
	min-width: 50px;
	width: 20%;
	border-radius: 50px;
}

#mini_image_jeu {
	position:absolute;
	right: 5px;
	top:10px;
}

#mini_image_avatar {
	position:absolute;
	left: 5px;
	top:10px;
}

#titre_topic{
	margin-top:15%;
	display:inline-block;
	margin-right: 15%;
}

#avatar_profil {
	position: absolute;
	top: 50px;
	right:50px;
	width:150px;
	height:150px;
}

#presentation_profil {
	max-height:150px;
	overflow: hidden;
}

.profil p {
	text-align: center;
	font-size:25px;
	padding: 10px;
}

#profil_user p {
	font-size: 20px;
}