.police {
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}

a {
	color: white;
	text-decoration:none;
}

body {
	margin-top: 0;
	margin-bottom:0;
	background-color: lightblue;
}

h1{
	font-size: 16px;
}

#bandeau {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	border: 5px solid #2B2B2B;
	color: #fff;
	padding: 10px;
}

#bandeau p {
	font-size: 30px;
	margin: 0;
}

#bandeau img {
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

form {
	display: flex;
	align-items: center;

	margin-left: auto;
}


form input[type="text"] {
	margin-right: 10px;
	padding: 5px;
	border-radius: 3px;
	border: none;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

form  {
	padding: 5px 10px;
	border-radius: 3px;
	border: none;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	box-shadow: 0 2px 2px #000000;
}

#Connexion {
	margin-left: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main{
	margin: 5px;
	border: 2px solid black;
	padding: 0px 10px;
	background-color:white;

}

#utilisateurs {
	margin-left: 0px;
	float: left;
	width: 150px;
}

#messages {
	float:left;
	width: 55%;
}

#jeux{
	padding:0px;
	margin-right: 0px;
	float: right;
	width: 390px;
}
.liste_jeux{
	width:94.5%;
	min-height: 100px;
}

#jeux_visites{
	border: 2px solid black;
	padding: 0px 10px;
	background-color:white;
	max-height: 300px;
	overflow: scroll;
}

#jeux_visites:hover{
	max-height: 600px;
}

#jeux_proposes{
	border: 2px solid black;
	padding: 0px 10px;
	background-color:white;
	max-height: 300px;
	overflow: scroll;
}

#jeux_proposes:hover{
	max-height: none;
	overflow: visible;
}

